.theme-switcher {
  display: flex;
  align-items: center;
  z-index: 100;

  & span {
    margin-right: 10px;
    font-size: 1rem;
  }

  &__toggle-icon {
    margin-left: 10px;
  }

  &__label {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;

    & input {
      display: none;

      &:checked + .theme-switcher__label--slider {
        background: $primary-color;

        &::before {
          transform: translateX(26px);
        }
      }
    }
    &--slider {
      background: #ccc;
      bottom: 0;
      cursor: pointer;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: 0.4s;
      &::before {
        background: #fff;
        bottom: 4px;
        content: '';
        height: 26px;
        left: 4px;
        position: absolute;
        transition: 0.4s;
        width: 26px;
      }
      &.round {
        border-radius: 34px;
        &::before {
          border-radius: 50%;
        }
      }
    }
  }
}
